/**

  Regular	"proxima-nova"	400	normal
  Regular Italic	"proxima-nova"	400	italic 
  Semibold	"proxima-nova"	600	normal
  Semibold Italic	"proxima-nova"	600	italic
  Bold	"proxima-nova"	700	normal
  Bold Italic	"proxima-nova"	700	italic

  Regular	"adobe-garamond-pro-n4", "adobe-garamond-pro"	400	normal
  Italic	"adobe-garamond-pro-i4", "adobe-garamond-pro"	400	italic	
  Semibold	"adobe-garamond-pro-n6", "adobe-garamond-pro"	600	normal	
  Semibold Italic	"adobe-garamond-pro-i6", "adobe-garamond-pro"	600	italic
  Bold	"adobe-garamond-pro-n7", "adobe-garamond-pro"	700	normal
  Bold Italic	"adobe-garamond-pro-i7", "adobe-garamond-pro"	700	italic	
 */
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: transparent url("/sites/all/themes/ascentbuild/images/bg-diamonds-top.png") repeat-x left top; }

body {
	font: normal 15px "proxima-nova", sans-serif;
	line-height: 22px;
	background-attachment: scroll;
	background-color: #fff;
	background-position: center top;
	background-repeat: repeat-x;
	background-image: url("/sites/all/themes/ascentbuild/images/diamond-bg.png"); 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0;  }
	
body.not-front	{ background-image: url("/sites/all/themes/ascentbuild/images/bg-diamonds-top.png"); }
body.front		{ background: transparent url("/sites/all/themes/ascentbuild/images/bg-diamonds-bottom.png") repeat-x left bottom; }	

a:link, a:visited { text-decoration: none;  }

a:hover, a:active, a:focus { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { letter-spacing: 0px; margin:0; border: none; }

h1 { font-size:35px; font-weight:normal; font-style:normal; line-height: 140%; margin-bottom: 14px; }

h2 { font-size:28px; font-weight:normal; font-style:normal; line-height: 130%; margin-bottom: 10px; }

h3 { font-size:21px; font-weight:normal; font-style:normal; line-height: 130%; margin-bottom: 8px; }

h4 { font-size:17px; font-weight:bold; font-style:bold; line-height: 125%; margin-bottom: 8px; }

h5 { font-size:14px; font-weight:bold; font-style:bold; line-height: 120%; margin-bottom: 8px; }

h1 a, h2 a, h3 a, h4 a, h5 a { font-weight: inherit; text-decoration: none; }

p { margin: 0 0 10px 0; }

del { text-decoration: line-through; }

pre, code { 
	white-space: pre; 
	background-color: #ededed; 
	border-bottom: 1px solid #d9d9d9; 
	border-top: 1px solid #d9d9d9;
	display: block; 
	margin: 5px 0; 
	padding: 5px; 
	line-height: 125%; 
	overflow: hidden;
	font: 12px/24px Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono",
	"Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace; }

header {
	clear: both;
	position: relative;
	height: 150px;
	margin: 0px;
	color: #fff;
	padding: 0px;
	width:100%;
	z-index: 0;
	background: transparent url("/sites/all/themes/ascentbuild/images/header-bg.png") repeat 0px 0px; }

header #logo {
	width: 253px;
	margin: 0px;
	height: 148px;
	display: block;
	float: left;
	background: transparent url("/sites/all/themes/ascentbuild/images/header-logo.png") no-repeat 0px 0px;
	padding: 0px;
	border: 0px;
	position: absolute;
	left: 0px;
	top: 0px; }

header #header-inner {	
	margin: 0px auto;
	width: 970px;
	position: relative;	}

header aside#header-info {
	color: #8d9287;
	font: 400 16px/28px "proxima-nova", sans-serif;
	float: right;
	display: inline;
	text-align: right;
	margin: 0px 10px 0px 0px; }

#header-info .houzz a {
color: #D4B68C;
font-size: 14px;
padding-left: 20px;
background: url(../images/houzz.png) top left no-repeat;
background-size: 15px;
margin-left: 10px;
}
#header-info .houzz a:hover {
text-decoration: underline;
}

header #header-inner nav {
	margin: 30px 0px 0px;
	/* border-top-width: 3px;
	border-style: solid;
	border-style: solid none none none;
	-webkit-border-image: url("/sites/all/themes/ascentbuild/images/vertical-line.png") 467 3 repeat;
	-o-border-image: url("/sites/all/themes/ascentbuild/images/vertical-line.png") 467 3 repeat;
	-moz-border-image: url("/sites/all/themes/ascentbuild/images/vertical-line.png") 467 3 repeat;
	border-image: url("/sites/all/themes/ascentbuild/images/vertical-line.png") 467 3 repeat; */
	z-index: 100;
	left: 244px;
	position: absolute;
	width: 722px;
	top: 0px; }

header #header-inner nav,
header #header-inner nav ul { float:left; text-align: center; }

header #header-inner nav ul { list-style: none; width: 723px; padding: 0px 0px 0px 6px; }	

header #header-inner nav ul li { 
	display: block; 
	float: left;
	background: transparent url("/sites/all/themes/ascentbuild/images/nav-li-bg.png") no-repeat right center; }

header #header-inner nav ul li.why-ascent { width: 141px; }
header #header-inner nav ul li.our-approach { width: 178px; }
header #header-inner nav ul li.featured-homes { width: 138px; }
header #header-inner nav ul li.details-gallery { width: 145px; background: none; }

header #header-inner nav ul li a {
	font: 300 24px/27px "garamond-premier-pro-display",serif;
	color: #a88459;
	cursor: pointer;
	/*line-height: 27px;*/
	letter-spacing: 2px;
	display: block;
	padding: 20px 20px 23px 20px;
	text-transform: uppercase;
	text-decoration: none;}
	
header #header-inner nav ul li.contact a {
	letter-spacing: 0;
}
	
header #header-inner nav ul li a:hover,
header #header-inner nav ul li a.active  {
	color: #a88459;
}
  
header #header-inner nav ul li a span {
	display: block;
	clear: both;
	font: 500 14px/14px "proxima-nova", sans-serif;
	letter-spacing: 0;
	padding: 4px 0px 2px 0px;
	color: #8d9287;
	cursor: pointer; }

header #header-inner nav ul li a.active,
header #header-inner nav ul li a:hover,	
header #header-inner nav ul li a.active span,
header #header-inner nav ul li a:hover span { color: #fff; }	
 
header #header-inner nav ul li a:hover,
header #header-inner nav ul li a.active {
  background: -moz-linear-gradient(0deg, rgba(107,114,101,0.45) 0%, rgba(137,144,131,0.45) 100%);
  background: -webkit-linear-gradient(0deg, rgba(107,114,101,0.45) 0%, rgba(137,144,131,0.45) 100%);
  background: -ms-linear-gradient(0deg, rgba(107,114,101,0.45) 0%, rgba(137,144,131,0.45) 100%);
  background: -o-linear-gradient(0deg, rgba(107,114,101,0.45) 0%, rgba(137,144,131,0.45) 100%);
  background: linear-gradient(0deg, rgba(107,114,101,0.45) 0%, rgba(137,144,131,0.45) 100%); }
  
header #header-inner nav ul li.contact {
	text-align: right;
	background: none;
	vertical-align: middle; }

header #header-inner nav ul li.contact a,
header #header-inner nav ul li.contact a:hover,
header #header-inner nav ul li.contact a.active { 
  /*background: -moz-linear-gradient(0deg, rgb(189,193,185) 0%, rgba(164,169,158,1) 100%);
  background: -webkit-linear-gradient( 0deg, rgb(189,193,185) 0%, rgba(164,169,158,1) 100%);
  background: -ms-linear-gradient( 0deg, rgb(189,193,185) 0%, rgba(164,169,158,1) 100%);
  background: -o-linear-gradient( 0deg, rgb(189,193,185) 0%, rgba(164,169,158,1) 100%);
  background: linear-gradient( 0deg, rgb(189,193,185) 0%, rgba(164,169,158,1) 100%);
  -webkit-border-radius: 15px 0px 0px 15px / 48px 0px 0px 48px;
  -moz-border-radius: 15px 0px 0px 15px / 48px 0px 0px 48px;
  border-radius: 15px 0px 0px 15px / 48px 0px 0px 48px;
  display: block; 
  padding: 4px 0px 4px 4px; */
	margin: 15px 0px 22px 0px;
	float: right;
	text-align: center;
	background: transparent url("/sites/all/themes/ascentbuild/images/nav-contact-us.png") no-repeat right center;
	vertical-align: middle;
	font: normal 15px "proxima-nova", sans-serif;
	text-shadow: 1px 3px 3px rgba(119,123,116);
	color: #fff;
	line-height: 15px;
	display: block;
	padding: 20px 0px 18px 4px;
	text-transform: none;
	text-decoration: none;
	width: 125px; }
 
header #header-inner nav ul li.contact a span { 
  /*background: -moz-linear-gradient(90deg, rgb(119,124,114) 0%, rgba(164,169,158,1) 100%);
  background: -webkit-linear-gradient( 0deg, rgb(119,124,114) 0%, rgba(164,169,158,1) 100%);
  background: -ms-linear-gradient( 0deg, rgb(119,124,114) 0%, rgba(164,169,158,1) 100%);
  background: -o-linear-gradient( 0deg, rgb(119,124,114) 0%, rgba(164,169,158,1) 100%);
  background: linear-gradient( 0deg, rgb(119,124,114) 0%, rgba(164,169,158,1) 100%);
  -webkit-border-radius: 15px 0px 0px 15px / 42px 0px 0px 42px;
  -moz-border-radius: 15px 0px 0px 15px / 42px 0px 0px 42px;
  border-radius: 15px 0px 0px 15px / 42px 0px 0px 42px;*/
 }  

#wrap.home { 
	width: 100%;
	margin: 0;
	padding: 0px 0px 35px 0px;
	clear: both;
	/* background:  url("/sites/all/themes/ascentbuild/images/home-diamond-bottom.png") repeat-x center bottom; */
	background: transparent url("/sites/all/themes/ascentbuild/images/bg-home-strech-diamonds.png")  no-repeat center top; /* #eee6dc */ }
	
#wrap.home .container {
	position: relative; 
	width: 1035px;
	margin: 0 auto;
	padding: 0px; }

#wrap .container {
	position: relative; 
	width: 1035px;
	margin: 0 auto;
	padding: 0px; }

#wrap .container h1 {
	font: normal 300 28px/28px "garamond-premier-pro-display", serif;
	font-weight: 300;  
	letter-spacing: 8px;
	color: #7b8075;
	padding: 25px 9px;
	text-transform: uppercase;
	display: table;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	width: 990px; }

#wrap .container h1:before, h1:after {
	content: "";
	display: table-cell;
	width: 46%;
	background-size: 1px 1px; }
  
#wrap .container h1:before { 
	right: 10px;
	position: relative;
	background: transparent url("/sites/all/themes/ascentbuild/images/h1-left-bg.png") no-repeat right center; }

#wrap .container h1:after{ 
	left: 10px; 
	position: relative;
	background: transparent url("/sites/all/themes/ascentbuild/images/h1-right-bg.png") no-repeat left center; }
#home-slider {
	border-top: none; 
	width: 1035px; 
	height: 461px; 
	position: relative;
	/* box-shadow: 0px 1px 2px 30px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 1px 2px 30px rgba(0,0,0,0.3); */ }

#home-slider a.slide-link {
	opacity: 0;
	color: #fff;
	font: normal 14px/14px "proxima-nova", sans-serif;
	margin: 0px;
	padding: 0px;
	display: block;
	width: 35px;
	float: left;
	height: 49px;
	text-transform: capitalize;
	position: absolute;
	vertical-align: middle;
	transition: all linear 1.5s;
	-o-transition: all linear 1.5s;
	-moz-transition: all linear 1.5s;
	-webkit-transition: all linear 1.5s;
	pointer-events: none;
	top: 205px; }
	
#home-slider .active a.slide-link {
	opacity: 1;
	pointer-events: all; }
	
#home-slider a.slide-link.prev {
	z-index: 100;
	left: 5px;
	background: transparent url("/sites/all/themes/ascentbuild/images/slider/details-left-35x49.png") no-repeat 0px 0px; }
	
#home-slider a.slide-link.next {
	right: 9px;
	z-index:100;
	background: transparent url("/sites/all/themes/ascentbuild/images/slider/details-right-35x49.png") no-repeat 0px 0px; }

#home-slider .home-slider-container {
	border-top: none; 
	width: 1035px;
	height: 461px;
	overflow: hidden;
	position: relative;
	padding: 0px;
	top: 0px;
	margin: 0 auto;
	z-index: auto; }

#home-slider .home-slider-container figure {
	width: 1035px; 
	height: 461px;
	overflow: hidden;
	margin: 0;
	position: absolute;
	top: 0px;
	z-index: auto;		
/*
	transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	-moz-transition: all linear 0.5s;
	-webkit-transition: all linear 0.5s; 
*/
	transition: all linear 1.5s;
	-o-transition: all linear 1.5s;
	-moz-transition: all linear 1.5s;
	-webkit-transition: all linear 1.5s; 

}

#home-slider .home-slider-container figure.inactive {
opacity: 0;
transition: 1.5s linear;
}
	   
#home-slider .home-slider-container figure:target { left: 0px; opacity: 1; }
#home-slider .home-slider-container figure:first-of-type,
#home-slider .home-slider-container figure.active { left: 0px; opacity: 1; }

#home-slider .home-slider-container figure div.image-holder {
	width: 979px;
	overflow: hidden;
	position: relative;
	left: 26px;
	top: 0px;
	opacity: 0;
	transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
	-moz-transition: all ease-in 0.5s;
	-webkit-transition: all ease-in 0.5s;
	z-index: 700; }
	
#home-slider .home-slider-container figure.active div.image-holder {
	opacity: 1;
}

#home-slider .home-slider-container figure div.image-holder img,
#home-slider .home-slider-container figure img { 
	height: 461px; 
	width: 979px; }

#home-slider .home-slider-container figure figcaption {
	position: absolute;
	bottom: 18px;
	right: -999px;
	opacity: 0;
	z-index: 800;
	padding: 0px 8px;
	width: 355px;
	height: 442px;
/*
	transition: all ease-in 0.7s;
	-o-transition: all ease-in 0.7s;
	-moz-transition: all ease-in 0.7s;
	-webkit-transition: all ease-in 0.7s;
*/
	transition: all ease-in 1s;
	-o-transition: all ease-in 1s;
	-moz-transition: all ease-in 1s;
	-webkit-transition: all ease-in 1s;

	background: transparent url("/sites/all/themes/ascentbuild/images/details-bg.png") no-repeat center center; }



/* #home-slider .home-slider-container figure:target figcaption { right: 77px; opacity: 1; } */
#home-slider .home-slider-container figure.active figcaption { right: 77px; opacity: 1; }

#home-slider .home-slider-container figure figcaption span {   
	display: block;
	height: 442px;
	width: 355px;
	text-indent: -9999em;
	background: url("/sites/all/themes/ascentbuild/images/the-details-matter.png") no-repeat center center;
	position: relative; }
   

#home-slider aside {
   /* position: absolute;
   right: 60px;
   bottom: 15px;*/
	z-index: 10;
	margin: 0px auto;
	clear: both;
	width: 1035px;
	position: relative;
	text-align: center;
	top: 0px; }

#home-slider aside a {
	background-color: #fff;
	border: 1px solid #a2a79c;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.50) inset;
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.50) inset;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.50) inset;	
	display: inline-block;
	height: 8px;
	margin: 0px 4px;
	text-indent: -9990em;
	width: 8px; }

#home-slider aside a.active,
#home-slider aside a:hover {
	background-color: #a2a79c;
	border: 1px solid #7e8179;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.50) inset;
	-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.50) inset;
	-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.50) inset;	}

#wrap.home .container .video-links-wrapper {
	position: relative;
	width: 980px;
	margin: 0 auto;
	padding: 0px; }
	
#wrap.home .container .video-links-wrapper #feature-videos {
	margin: 20px 0px 0px 2px;
	width: 682px;
	padding: 0px;
	float: left; }

#wrap.home .container div.video-links-wrapper #helpful-links {
	width: 268px;
	position: relative;
	z-index: auto;
	float: right;
	margin: 20px 0px 0px 0px; }

#feature-videos h2 {
	color: #a88459;
	font: 400 24px/26px "proxima-nova", sans-serif;
	line-height: 26px;
	margin: 0px 0px 4px 9px;
	text-transform: capitalize; }

#feature-videos article {
	width: 327px;
	height: 216px;
	margin: 0px 0px 0px 0px;
	position: relative;
	float: left; }

#feature-videos article	a.featured-video-button,
#feature-videos article	a.featured-video-button:link,
#feature-videos article	a.featured-video-button:visited,
#feature-videos article	a.featured-video-button:hover {
	width: 80px;
	height: 74px;
	display: block;
	float: left;
	position: absolute;
	text-indent: -9999em;
	left: 121px;
	top: 73px; }
	
#featured-videos-gallery article a.featured-video-button,
#featured-videos-gallery article a.featured-video-button:link,
#featured-videos-gallery article a.featured-video-button:visited,
#featured-videos-gallery article a.featured-video-button:hover {
	width: 80px;
	height: 74px;
	display: block;
	float: left;
	position: absolute;
	text-indent: -9999em;
	left: 198px;
	top: 93px; }

#feature-videos article	a.featured-video-button,
#feature-videos article	a.featured-video-button:link,
#feature-videos article	a.featured-video-button:visited,
#featured-videos-gallery article a.featured-video-button,
#featured-videos-gallery article a.featured-video-button:link,
#featured-videos-gallery article a.featured-video-button:visited {
	background: transparent url("/sites/all/themes/ascentbuild/images/video-play-80x74.png") no-repeat 0px 0px;
}

#feature-videos article	a.featured-video-button:hover,
#featured-videos-gallery article a.featured-video-button:hover {
	background: transparent url("/sites/all/themes/ascentbuild/images/video-hover-80x74.png") no-repeat 0px 0px;	
}
	
#feature-videos article:first-of-type { margin: 0px 20px 0px 0px; }

#feature-videos article span {
	clear: left;
	float: left;
	color: #8e9388;
	font: italic 300 14px/14px "garamond-premier-pro-display", sans-serif;
	letter-spacing: 1px;
	margin: 0px 0px 0px 11px;
	text-align: left; }

#feature-videos article img {
	width: 323px;
	height: 203px;
	/*border: 8px solid #fbfaff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);*/	
	top: 0px; 
	left: 0px; }

#feature-videos article figcaption a,
#feature-videos article figcaption a:link,
#feature-videos article figcaption a:visited {
	bottom: 38px;
	color: #fff;
	display: block;
	float: right;
	padding: 10px 9px;
	position: relative;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 10px;
  min-width: 150px;
  text-align: center;
	text-shadow: 1px 3px 3px rgba(120,85,45,0.65);
	background: rgb(206,179,142);
	background: -moz-linear-gradient(top,  rgba(206,179,142,1) 0%, rgba(165,128,86,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,179,142,1)), color-stop(100%,rgba(165,128,86,1)));
	background: -webkit-linear-gradient(top,  rgba(206,179,142,1) 0%,rgba(165,128,86,1) 100%);
	background: -o-linear-gradient(top,  rgba(206,179,142,1) 0%,rgba(165,128,86,1) 100%);
	background: -ms-linear-gradient(top,  rgba(206,179,142,1) 0%,rgba(165,128,86,1) 100%);
	background: linear-gradient(to bottom,  rgba(206,179,142,1) 0%,rgba(165,128,86,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceb38e', endColorstr='#a58056',GradientType=0 );
	-webkit-border-radius: 9px 0px 0px 9px / 30px 0px 0px 30px;
	-moz-border-radius:  9px 0px 0px 9px / 30px 0px 0px 30px;
	border-radius: 9px 0px 0px 9px / 30px 0px 0px 30px;
	-webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.5);
	box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.5); }
	
#feature-videos article figcaption a:after { /* this creates the "folded" part of our ribbon */
	content:""; 
	height: 0;
	width: 0;
	display:block;
	position:absolute;
	bottom: 30px;
	right: 0px;
	border-bottom: 7px solid #8d653a;
	border-right: 13px solid transparent;
	z-index: 100; }
	
#feature-videos a.video-gallery {
	clear: both;
	float: left;
	margin: 18px 0px 5px 0px; }

div.video-links-wrapper #helpful-links {
	width: 268px;
	position: relative;
	z-index: auto;
	float: left; }	

div.video-links-wrapper #helpful-links h3 {
	color: #a88459;
	font: 400 17px/28px "garamond-premier-pro-display", sans-serif;
	margin-bottom: 10px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;  }
	
#wrap.home .container div.video-links-wrapper #helpful-links ul.home-links {
	position: relative;
}
div.video-links-wrapper #helpful-links ul.home-links,
div.video-links-wrapper #helpful-links ul.home-links li {
	list-style: none;
	text-align: center; }

div.video-links-wrapper #helpful-links ul.home-links li.top-shadow {
	background: transparent url("/sites/all/themes/ascentbuild/images/shadow-top.png") no-repeat center top;
}

#wrap.home .container div.video-links-wrapper #helpful-links ul.home-links li.bottom-shadow {
	background: transparent url("/sites/all/themes/ascentbuild/images/shadow-bottom.png") no-repeat center bottom;
}

#wrap.home .container div.video-links-wrapper #helpful-links ul.home-links li.middle {
	margin: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-style: solid none solid none;
	-webkit-border-image: url("/sites/all/themes/ascentbuild/images/helpful-links-verticle.png") 263 1 repeat;
	-o-border-image: url("/sites/all/themes/ascentbuild/images/helpful-links-verticle.png") 263 1 repeat;
	-moz-border-image: url("/sites/all/themes/ascentbuild/images/helpful-links-verticle.png") 263 1 repeat;
	border-image: url("/sites/all/themes/ascentbuild/images/helpful-links-verticle.png") 263 1 repeat;
	z-index: 100;
	width: 268px; }

div.video-links-wrapper #helpful-links ul.home-links li,
div.video-links-wrapper #helpful-links ul.home-links li a,
div.video-links-wrapper #helpful-links ul.home-links li a:visited,
div.video-links-wrapper #helpful-links ul.home-links li a:hover {
	color: #8e9388;
	font: normal 23px "proxima-nova", sans-serif;
	padding: 20px 0px;
	line-height: 26px; }

div.video-links-wrapper #helpful-links ul.home-links li a:hover { color: #bc9f77; }	

#welcome-to-ascent {
	width: inherit;
	position: relative;
	margin: 0px 0px 0px 26px;
	min-height: 350px;
	padding: 30px 0px 0px 0px;
	background: transparent url("/sites/all/themes/ascentbuild/images/home-welcome.png") no-repeat right bottom; }
	
#welcome-to-ascent h2 {
	color: #a88459;
	font: 600 24px "proxima-nova", sans-serif;
	line-height: 26px;
	margin: 0px 0px 4px 9px; }	

#welcome-to-ascent p {
	color: #000;
	font: 300 15px "proxima-nova", sans-serif;
	line-height: 20px;
	width: 425px;
	margin: 0px 0px 15px 14px;
	text-rendering: optimizeLegibility; }

#welcome-to-ascent a.featured-homes,
#feature-videos a.video-gallery,
#welcome-to-ascent a.featured-homes:hover,
#feature-videos a.video-gallery:hover {
	color: #8d9287;
	font: 600 14px "proxima-nova", sans-serif;
	padding: 0px 11px 0px 20px;
	text-decoration: none;
	display: block;
	position: relative;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	
	/*border-image: linear-gradient(left,rgba(189,161,121,0) 0%,rgba(189,161,121,1) 15%,rgba(189,161,121,1) 50%,rgba(189,161,121,1) 75%,rgba(189,161,121,0) 100%) 100% 1 repeat;
	-webkit-border-image: -webkit-linear-gradient(left,rgba(189,161,121,0) 0%,rgba(189,161,121,1) 15%,rgba(189,161,121,1) 50%,rgba(189,161,121,1) 75%,rgba(189,161,121,0) 100%) 100% 1 repeat;
	-moz-border-image: -moz-linear-gradient(left,rgba(189,161,121,0) 0%,rgba(189,161,121,1) 15%,rgba(189,161,121,1) 85%,rgba(189,161,121,0) 100%) 100 1 repeat;
	-o-border-image: -o-linear-gradient(left,rgba(189,161,121,0) 0%,rgba(189,161,121,1) 15%,rgba(189,161,121,1) 50%,rgba(189,161,121,1) 75%,rgba(189,161,121,0) 100%) 100% 1 repeat;
	border-style: solid none;
	border-width: 1px 0px;*/ }
#welcome-to-ascent a.featured-homes {	
	padding-bottom: 40px;	}
	
#welcome-to-ascent a.featured-homes:hover,
#feature-videos a.video-gallery:hover { color: #bc9f77; }		

#welcome-to-ascent a.featured-homes span,
#feature-videos a.video-gallery span { display: inline-block; padding: 0px; }

#welcome-to-ascent a.featured-homes span:before,
#welcome-to-ascent a.featured-homes span:after,
#feature-videos a.video-gallery span:before,
#feature-videos a.video-gallery span:after {
	background: -moz-linear-gradient(left,rgba(189,161,121,0) 0%,rgba(189,161,121,0.5) 15%,rgba(189,161,121,1) 50%,rgba(189,161,121,0.5) 85%,rgba(189,161,121,0) 100%);
	background: -webkit-linear-gradient(left,rgba(189,161,121,0) 0%,rgba(189,161,121,0.5) 15%,rgba(189,161,121,1) 50%,rgba(189,161,121,0.5) 85%,rgba(189,161,121,0) 100%);
	background: -ms-linear-gradient(left,rgba(189,161,121,0) 0%,rgba(189,161,121,0.5) 15%,rgba(189,161,121,1) 50%,rgba(189,161,121,0.5) 85%,rgba(189,161,121,0) 100%);
	background: -o-linear-gradient(left,rgba(189,161,121,0) 0%,rgba(189,161,121,0.5) 15%,rgba(189,161,121,1) 50%,rgba(189,161,121,0.5) 85%,rgba(189,161,121,0) 100%);
	background: linear-gradient(left,rgba(189,161,121,0) 0%,rgba(189,161,121,0.5) 15%,rgba(189,161,121,1) 50%,rgba(189,161,121,0.5) 85%,rgba(189,161,121,0) 100%);
	display: block;
	height: 1px;
	left: 0px;
	content: " ";
	width: 100%;
	position: absolute; }
	
#welcome-to-ascent a.featured-homes span:before,
#welcome-to-ascent a.featured-homes span:after { width: 300px; }

#welcome-to-ascent a.featured-homes span:before { top: 0px; }
#feature-videos a.video-gallery span:before { top: 0px; }	  

#welcome-to-ascent a.featured-homes:after { bottom: 0px; }
#feature-videos a.video-gallery span:before	
#feature-videos a.video-gallery span:after { bottom: 0px; }
	
/* IE9 SVG, needs conditional override of 'filter' to 'none'
background: -moz-linear-gradient(left,  rgba(189,161,121,0) 0%, rgba(189,161,121,1) 15%, rgba(189,161,121,1) 50%, rgba(189,161,121,1) 75%, rgba(189,161,121,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(189,161,121,0)), color-stop(15%,rgba(189,161,121,1)), color-stop(50%,rgba(189,161,121,1)), color-stop(75%,rgba(189,161,121,1)), color-stop(100%,rgba(189,161,121,0)));
background: -webkit-linear-gradient(left,rgba(189,161,121,0) 0%,rgba(189,161,121,1) 15%,rgba(189,161,121,1) 50%,rgba(189,161,121,1) 75%,rgba(189,161,121,0) 100%);
background: -o-linear-gradient(left,  rgba(189,161,121,0) 0%,rgba(189,161,121,1) 15%,rgba(189,161,121,1) 50%,rgba(189,161,121,1) 75%,rgba(189,161,121,0) 100%);
background: -ms-linear-gradient(left,  rgba(189,161,121,0) 0%,rgba(189,161,121,1) 15%,rgba(189,161,121,1) 50%,rgba(189,161,121,1) 75%,rgba(189,161,121,0) 100%);
background: linear-gradient(to right,  rgba(189,161,121,0) 0%,rgba(189,161,121,1) 15%,rgba(189,161,121,1) 50%,rgba(189,161,121,1) 75%,rgba(189,161,121,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bda179', endColorstr='#00bda179',GradientType=1 ); */

main h1 {
	color: #7b8075;
	font: normal 20px "garamond-premier-pro-display", serif;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase; }

main h2 {
	color: #a88459;
	font: 400 24px "proxima-nova", sans-serif;
	line-height: 26px;
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px; }

main p {
	color: #000;
	font: 300 15px/20px "proxima-nova", sans-serif;
	margin: 0px 0px 10px 10px; }

/**
 * HOME DETAILS PAGE STYLES
 */
 
#wrap { 
	width: 100%;
	margin: 0;
	padding: 0px 0px 35px 0px;
	clear: both;
	overflow: auto;
	background: transparent url("/sites/all/themes/ascentbuild/images/bg-diamonds-bottomL.png")  repeat-x center bottom; }

#wrap .container {
	position: relative; 
	width: 1035px;
	margin: 0 auto;
	padding: 0px; }
	
#home-details-breadcrumbs {
	width: 990px;
	clear: both;
	margin: 0 auto;
	position: relative;
	z-index: 799;	}

#featured-homes-breadcrumb { 
	color: #72776c;
	font: 600 14px/14px "proxima-nova", sans-serif;
	left: 14px;
    z-index: 800px;
	position: absolute; }

#home-details-breadcrumbs #featured-homes-next {
	background: transparent url("/sites/all/themes/ascentbuild/images/buttons.png") no-repeat right -172px;
	color: #fff;
	display: block;
	font: 600 12px/26px "proxima-nova", sans-serif;
	padding: 0px 20px 0px 15px;
	position: absolute;
    right: 14px;
    z-index: 800px;
    text-shadow: 1px 2px 2px rgba(110,73,38,0.75); 
	text-transform: uppercase;
	height: 26px; }
#home-details-breadcrumbs #featured-homes-next:hover {
	background: transparent url("/sites/all/themes/ascentbuild/images/buttons.png") no-repeat right -199px;
    z-index: 800px;
    text-shadow: 1px 2px 2px rgba(110,73,38,0.75);
	transition: background ease-out-in 0.5s;
	-o-transition: background ease-out-in 0.5s;
	-moz-transition: background ease-out-in 0.5s;
	-webkit-transition: background ease-out-in 0.5s;     }

#home-details-slider {
	width: 990px;
	height: 649px;
	margin: 0 auto 25px;
	padding: 0px; }
	
#home-details-slider div.home-detail-image {
	width: 990px;
	height: 535px;	
	margin: 0 auto;
	padding: 0px;
	overflow: hidden;
	position: relative;
	top: 0px;
	z-index: auto; }	

#home-details-slider div.home-detail-image figure {
   width: 990px;
   height: 535px;
   margin: 0;
   position: absolute;
   top: 0px;
   left: -990px;
   z-index: 1;
   transition: all linear 0.5s;
   -o-transition: all linear 0.5s;
   -moz-transition: all linear 0.5s;
   -webkit-transition: all linear 0.5s; }
   
#home-details-slider div.home-detail-image figure img {
	z-index: 1; }   

#home-details-slider div.home-detail-image figure:target { left: 0px; }
#home-details-slider div.home-detail-image figure.active { left: 0px; }
#home-details-slider div.home-detail-image figure:first-child { left: 0px; }

#home-details-slider #home-details-pagination {
   /* position: absolute;
   right: 60px;
   bottom: 15px;*/
	z-index: 10;
	margin: 0px auto;
	clear: both;
	width: 1025px;
	height: 114px;
	overflow: hidden;
	position: relative;
	width: 990px; }

#home-details-slider #home-details-pagination a.thumb-link {
	/*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.30);*/
	display: inline-block;
	height: 114px;
	margin: 0px 5px 0px;
	width: 182px;
	z-index: 800;
	display: -moz-inline-stack;
	vertical-align: top;
	position: relative; }

#home-details-slider #home-details-pagination div.thumb-containers div.thumbs a.thumb-link:first-of-type { margin: 0px 5px 0px 20px; }
#home-details-slider #home-details-pagination div.thumb-containers div.thumbs a.thumb-link.first { margin: 0px 5px 0px 20px; }
#home-details-slider #home-details-pagination div.thumb-containers div.thumbs a.thumb-link img {
	height: 114px;
	width: 182px;
	display: block;
	border: 0; }
	
#home-details-slider #home-details-pagination div.thumb-containers div.thumbs:target { left: 0px; }
#home-details-slider #home-details-pagination div.thumb-containers div.thumbs:first-of-type { left: 0px; }

#home-details-slider #home-details-pagination div.thumb-containers div.thumbs {
   width: 1025px;
   height: 130px;
   margin: 0;
   position: absolute;
   top: 0px;
   left: -1025px;
   z-index: 1;
   transition: all linear 0.5s;
   -o-transition: all linear 0.5s;
   -moz-transition: all linear 0.5s;
   -webkit-transition: all linear 0.5s;
   width: 990px; }

main.home-details {
	margin: 0 auto;
	padding: 0px 15px 90px 30px;
	position: relative;
	width: 960px;
	clear: both; }	
	
main.home-details #home-description {
	margin: 0px 30px 0 0px;
	position: relative;
	width: 655px;
	padding: 0px;
	float: left;
	clear: left;
	overflow: visible; }
	
main.home-details #home-description h2 {
	color: #a88459;
	font: 400 24px "proxima-nova", sans-serif;
	line-height: 26px;
	margin: 0px 0px 0px 0px;
	padding: 0px; }

main.home-details #home-description p {
	color: #000;
	font: 300 15px/20px "proxima-nova", sans-serif;
	margin: 0px 0px 8px 0px;
	padding: 0px 0px 40px 0px; }
	
main.home-details section#home-features {
	width: 268px;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	float: right;
	clear: right;
	overflow: auto; }

main.home-details section#home-features h3 {
	color: #a88459;
	font: 400 17px "garamond-premier-pro-display", serif;
	line-height: 26px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: 55px; }

main.home-details section#home-features ul {
	margin: 0px 0px 10px 10px; }

main.home-details section#home-features ul li {
	padding: 0px;
	margin: 0px 0px 0px 55px;
	color: #8e9388;
	list-style: disc;
	font: 600 14px "proxima-nova", sans-serif;
	line-height: 17px;
	text-align: left;
	list-style-position: outside; }
	
main.home-details section#home-features ul:first-child {	
	background: transparent url("/sites/all/themes/ascentbuild/images/shadow-top.png") no-repeat center top; }

main.home-details section#home-features a.orange-bevel-link {
	background: transparent url("/sites/all/themes/ascentbuild/images/buttons.png") no-repeat right -172px;
	color: #fff;
	display: block;
	font: 400 12px/26px "proxima-nova", sans-serif;
	padding: 0px 20px 0px 15px;
	text-shadow: 1px 2px 2px rgba(110,73,38,0.75);
	text-transform: uppercase;
	height: 26px;
	margin: 0px 0px 0px 65px;
	width: auto;
	position: relative;
	float: left; }	

/**
 * FEATURE HOMES PAGE STYLES
 */

main#featured-homes,
#featured-homes-gallery,
#featured-videos-gallery,
#homes-in-progress-details {
	margin: 0 auto;
	padding: 0px 0px 0px;
	position: relative;
	width: 990px;
	clear: both;
	-moz-column-count: 2;
	-moz-column-width: 475px;
	-moz-column-rule-width: 24px;
	-webkit-column-count: 2;
	-webkit-column-width: 475px;
	-webkit-column-rule-width: 24px; }

main#featured-homes article,
#featured-homes-gallery article,
#featured-videos-gallery article,
#homes-in-progress-details article {
	margin: 20px 0px 0px;
	padding: 0px;
	position: relative;
	width: 475px;
 }
	
main#featured-homes article:nth-child(odd),
#featured-homes-gallery article:nth-child(odd),
#featured-videos-gallery article:nth-child(odd),
#homes-in-progress-details article:nth-child(odd) {
	clear: left;	
	margin: 0px 20px 20px 0px;	
}

main#featured-homes article:nth-child(even),
#featured-homes-gallery article:nth-child(even),
#featured-videos-gallery article:nth-child(even),
#homes-in-progress-details article:nth-child(even)  {
	clear: right;
	margin: 0px 0px 20px 0px;
}

main#featured-homes article a.featured-home-details,
#homes-in-progress-details a.featured-home-details {
	height: 30px;
	width: 30px;
	display: block;
	background: transparent url("/sites/all/themes/ascentbuild/images/shadow-featured-home.png") no-repeat left center;
	vertical-align: middle;
	text-align: center;
	padding: 14px 0px;
	position: relative;
	margin: 0px;
	float: right; }

main#featured-homes article a.featured-home-details span,
#homes-in-progress-details article a.featured-home-details span {
	background: rgb(164,169,158);
	background: -moz-linear-gradient(top,  rgba(164,169,158,1) 0%, rgba(139,144,133,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(164,169,158,1)), color-stop(100%,rgba(139,144,133,1)));
	background: -webkit-linear-gradient(top,rgba(164,169,158,1) 0%,rgba(139,144,133,1) 100%);
	background: -o-linear-gradient(top,rgba(164,169,158,1) 0%,rgba(139,144,133,1) 100%);
	background: -ms-linear-gradient(top, rgba(164,169,158,1) 0%,rgba(139,144,133,1)100%);
	background: linear-gradient(to bottom, rgba(164,169,158,1)0%,rgba(139,144,133,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b9085', endColorstr='#a4a99e',GradientType=0 );
	display: block;
	width: 9px;
	padding: 10px 8px;
	-webkit-border-radius: 0px 6px 6px 0px / 0px 30px 30px 0px;
	-moz-border-radius:  0px 6px 6px 0px / 0px 30px 30px 0px;
	border-radius: 0px 6px 6px 0px / 0px 30px 30px 0px;
	text-transform: capitalize;
	font-size: 9px;
	line-height: 9px;
	text-shadow: -1px -1px 2px rgba(0,0,0,1);
	color: #fff; }

#homes-in-progress-details article img {
	margin: 0px 0px 8px 0px;
	padding: 0px 0px 7px 0px;
	width: 475px;
	clear: both; }

#featured-homes-gallery h2,
#featured-videos-gallery h2,
#homes-in-progress-details h2 {
	color: #a88459;
	font: 400 24px "proxima-nova", sans-serif;
	line-height: 26px;
	margin: 0px 0px 0px 17px;
	width: 475px;
	clear: both; }

main#featured-homes article p,
#homes-in-progress-details article p {
	width: 405px;
	clear: left;
	color: #000;
	font: normal 15px/20px "proxima-nova", sans-serif;
	margin: 0px 0px 0px 17px;
	display: inline-block; }
	
/**
 * INFOMATION PAGE STYLES
 */

#wrap.home .container .video-links-wrapper {
	position: relative; 
	width: 990px;
	margin: 0 auto;
	padding: 0px; }

body #wrap .container div.region-content #block-system-main div.content #information,
#wrap .container div#information,
div#information {
	float: left;
	clear: left;
	position: relative;
	width: 680px !important;
	margin: 0px;
	padding: 0px; }

#addtional-info {
	width: 278px;
	float: right;
	position: relative;
	clear: right;
	min-height: 700px;
	text-align: center; }
   
#addtional-info h3 {
	margin: 0px;	
	color: #a88459;
	font: 400 17px "garamond-premier-pro-display", sans-serif;
	line-height: 26px;
	letter-spacing: 2px;
	text-transform: uppercase; }   
   
#addtional-info #side-related-videos {
	width: 278px;
	background: #f0e8dc url('/sites/all/themes/ascentbuild/images/info-aside-bg.png') no-repeat bottom center;
	min-height: 800px;
	margin: 0px auto;
	text-align: center; }
	
span.top-shadow,
#addtional-info #side-related-videos .top-shadow {
	height: 19px;
	width: 268px;
	margin: 0 auto;
	padding: 0px;
	display: block;
	background: transparent url('/sites/all/themes/ascentbuild/images/shadow-top.png') no-repeat center top;
	clear: both; }
	
span.bottom-shadow,
#addtional-info #side-related-videos .bottom-shadow {
	height: 19px;
	width: 268px;
	margin: 0 auto;
	padding: 0px;
	display: block;
	background: transparent url('/sites/all/themes/ascentbuild/images/shadow-bottom.png') no-repeat center top;
	clear: both; }		
   
#addtional-info #side-related-videos article {
	width: 240px;
	height: 175px;
	clear: both;
	margin: 10px auto;
	position: relative; }
	
#addtional-info #side-related-videos a.button,
#addtional-info #side-related-videos a.button:link,
#addtional-info #side-related-videos a.button:visited,
#addtional-info #side-related-videos a.button:hover {
	width: 63px;
	height: 59px;
	display: block;
	float: left;
	position: absolute;
	text-indent: -9999em;
	left: 94px;
	top: 53px; }

#addtional-info #side-related-videos a.button,
#addtional-info #side-related-videos a.button:link,
#addtional-info #side-related-videos a.button:visited {
	background: transparent url("/sites/all/themes/ascentbuild/images/video-play-63x59.png") no-repeat 0px 0px;
	transition: all ease-out-in 0.5s;
	-o-transition: all ease-out-in 0.5s;
	-moz-transition: all ease-out-in 0.5s;
	-webkit-transition: all ease-out 0.5s; }

#addtional-info #side-related-videos a.button:hover {
	background: transparent url("/sites/all/themes/ascentbuild/images/video-hover-63x59.png") no-repeat 0px 0px;
	transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;	
}

#addtional-info #side-related-videos article img {
	width: 240px;
	height: 178px; }

#addtional-info #side-related-videos article figcaption a {
	bottom: 64px;
	color: #fff;
	display: block;
	float: right;
	padding: 4px 9px 2px;
	position: relative;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 20px;
	text-shadow: 1px 3px 3px rgba(130,100,55,1);
	background: rgb(206,179,142);
	background: -moz-linear-gradient(top,  rgba(206,179,142,1) 0%, rgba(165,128,86,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,179,142,1)), color-stop(100%,rgba(165,128,86,1)));
	background: -webkit-linear-gradient(top,  rgba(206,179,142,1) 0%,rgba(165,128,86,1) 100%);
	background: -o-linear-gradient(top,  rgba(206,179,142,1) 0%,rgba(165,128,86,1) 100%);
	background: -ms-linear-gradient(top,  rgba(206,179,142,1) 0%,rgba(165,128,86,1) 100%);
	background: linear-gradient(to bottom,  rgba(206,179,142,1) 0%,rgba(165,128,86,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceb38e', endColorstr='#a58056',GradientType=0 );
	-webkit-border-radius: 9px 0px 0px 9px / 30px 0px 0px 30px;
	-moz-border-radius:  9px 0px 0px 9px / 30px 0px 0px 30px;
	border-radius: 9px 0px 0px 9px / 30px 0px 0px 30px; }

#addtional-info #side-related-videos article figcaption a:after { /* this creates the "folded" part of our ribbon */
	content:""; 
	height: 0;
	width: 0;
	display:block;
	position:absolute;
	bottom: 25px;
	right: -2px;
	border-bottom: 5px solid #8d653a;
	border-right: 10px solid transparent; }

#addtional-info #side-related-videos a.all-videos {
	color: #fff;
	font-size: 15px;
	line-height: 15px;
	text-shadow: 1px 3px 3px rgba(119,123,116,0.65);
	background: rgb(142,147,136);
	background: -moz-linear-gradient(top, rgba(166,170,160,1) 0%, rgba(124,129,118,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(166,171,160,1)), color-stop(100%,rgba(124,129,118,1)));
	background: -webkit-linear-gradient(top, rgba(166,171,160,1) 0%,rgba(124,129,118,1) 100%);
	background: -o-linear-gradient(top, rgba(166,171,160,1) 0%,rgba(124,129,118,1) 100%);
	background: -ms-linear-gradient(top, rgba(166,171,160,1) 0%,rgba(124,129,118,1) 100%);
	background: linear-gradient(to bottom,rgba(166,171,160,1) 0%,rgba(124,129,118,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6aba0', endColorstr='#7c8176',GradientType=0 );
	-webkit-border-radius: 28px / 28px;
	-moz-border-radius: 28px / 28px;
	border-radius: 28px / 28px;
	border: 2px solid #d0d2cd;
	padding: 5px 0px;
	margin: 10px 38px 90px;
	position: relative;
	float: left;
	clear: both;
	width: 200px;
	text-align: center; }
	
#addtional-info #side-related-videos a.all-videos span.right-arrow {
	display: inline;
	background: transparent url('/sites/all/themes/ascentbuild/images/button-rarrow.png') no-repeat 0px 0px;
	height: 10px;
	width: 7px;
	float: right;
	margin: 0px;
	padding: 0px;
	position: relative;
	right: 15px;
	top: 2px; }
 
#bread-crumbs {
	height: 40px;
	width: 650px;
	margin: 0px 0px 0px 40px;
	padding: 24px 0px 23px;
	position: relative;
	background: transparent url('/sites/all/themes/ascentbuild/images/shadow-breadcrumb.png') no-repeat left top; }

#bread-crumbs nav {
	background: rgb(164,169,158);
	background: -moz-linear-gradient(top,  rgba(164,169,158,1) 0%, rgba(139,144,133,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(164,169,158,1)), color-stop(100%,rgba(139,144,133,1)));
	background: -webkit-linear-gradient(top,rgba(164,169,158,1) 0%,rgba(139,144,133,1) 100%);
	background: -o-linear-gradient(top,rgba(164,169,158,1) 0%,rgba(139,144,133,1) 100%);
	background: -ms-linear-gradient(top, rgba(164,169,158,1) 0%,rgba(139,144,133,1)100%);
	background: linear-gradient(to bottom, rgba(164,169,158,1)0%,rgba(139,144,133,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b9085', endColorstr='#a4a99e',GradientType=0 );
	-webkit-border-radius: 0px 6px 6px 0px / 0px 35px 35px 0px;
	-moz-border-radius:  0px 6px 6px 0px / 0px 35px 35px 0px;
	border-radius: 0px 6px 6px 0px / 0px 35px 35px 0px;
	padding: 0px 10px 0px 10px;
	margin: 0px;
	height: 35px;
	float: left;
	text-align: left;
	vertical-align: middle; }

#bread-crumbs nav a,
#bread-crumbs nav a:link,
#bread-crumbs nav a:visited {
	color: #fff;
	font: normal 17px/35px "proxima-nova", sans-serif;
	text-shadow: 1px 3px 3px rgba(180,150,110,0.6);
	margin: 0px 10px;	}

#bread-crumbs nav a.active,
#bread-crumbs nav a:hover {
	color: #d6bd9a;
	font: normal 17px/35px "proxima-nova", sans-serif;
	text-shadow: 1px 3px 3px rgba(180,150,110,0.6);
	margin: 0px 10px; }

#info-slider {
	width: 657px;
	height: 470px;
	margin: 0 auto 25px 0px;
	padding: 0px;
	text-align: left;
	float: left;
	clear: left; }
	
#info-slider div.info-slider-image {
	width: 657px;
	height: 375px;	
	margin: 0 auto 0px 31px;
	padding: 0px;
	overflow: hidden;
	position: relative;
	top: 0px;
	z-index: auto; }	

#info-slider div.info-slider-image figure {
	width: 657px;
	height: 375px;
	margin: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: auto;
	opacity: 0;
	-webkit-transition: all .5s ease;  
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease; }

#info-slider div.info-slider-image figure:target {
  opacity: 1; left: 0px; z-index: auto;
}

#info-slider div.info-slider-image figure#image1 {
  opacity: 1; left: 0px; z-index: auto; }
  
  #info-slider div.info-slider-image figure#image1.inactive {
  opacity: 0; }

#info-slider div.info-slider-image figure {
  opacity: 0;
}
#info-slider div.info-slider-image figure:target ~ figure:not(#image1) { opacity: 0; }


/* #info-slider div.info-slider-image figure:target { left: 0px; } */
#info-slider div.info-slider-image figure.active { left: 0px; z-index: 1; opacity: 1; }
#info-slider div.info-slider-image figure:first-child { left: 0px; }

a.info-thumb-link {
	color: #fff;
	font: normal 11px/11px "proxima-nova", sans-serif;
	margin: 0px;
	/*padding: 11px 9px;
	background: rgb(164,169,158);
	background: -moz-linear-gradient(top,  rgba(164,169,158,1) 0%, rgba(139,144,133,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(164,169,158,1)), color-stop(100%,rgba(139,144,133,1)));
	background: -webkit-linear-gradient(top,rgba(164,169,158,1) 0%,rgba(139,144,133,1) 100%);
	background: -o-linear-gradient(top,rgba(164,169,158,1) 0%,rgba(139,144,133,1) 100%);
	background: -ms-linear-gradient(top, rgba(164,169,158,1) 0%,rgba(139,144,133,1)100%);
	background: linear-gradient(to bottom, rgba(164,169,158,1)0%,rgba(139,144,133,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b9085', endColorstr='#a4a99e',GradientType=0 );
	text-transform: capitalize;
	text-shadow: -1px -1px 2px rgba(0,0,0,1);	*/
	display: block;
	width: 28px;
	float: left;
	height: 39px;
	position: absolute;
	top: 25px;
 }
	
a.info-thumb-link.prev {
	-webkit-border-radius: 6px 0px 0px 6px / 33px 0px 0px 33px;
	-moz-border-radius:  6px 0px 0px 6px / 33px 0px 0px 33px;
	border-radius: 6px 0px 0px 6px / 33px 0px 0px 33px;
	left: 0px;
	background: transparent url("/sites/all/themes/ascentbuild/images/slider/info-left-28x39.png") no-repeat 0 0;
	text-indent: -9999px; }
	
a.info-thumb-link.next {
	/*-webkit-border-radius: 0px 6px 6px 0px / 0px 33px 33px 0px;
	-moz-border-radius:  0px 6px 6px 0px / 0px 33px 33px 0px;
	border-radius: 0px 6px 6px 0px / 0px 33px 33px 0px; */
	background: transparent url("/sites/all/themes/ascentbuild/images/slider/info-right-28x39.png") no-repeat 0 0;
	right: 0px;
	z-index: 100;
	text-indent: 9999px; }
	
#info-slider #info-slider-pagination div.thumb-containers div.thumbs:target { left: 0px; }
#info-slider #info-slider-pagination div.thumb-containers div.thumbs:first-child { left: 0px; }

#info-slider #info-slider-pagination div.thumb-containers div.thumbs {
   width: 676px;
   height: 92px;
   margin: 0px 0px 0px 9px;
   position: absolute;
   top: 0px;
   left: -676px;
   z-index: 700;
   transition: all linear 0.5s;
   -o-transition: all linear 0.5s;
   -moz-transition: all linear 0.5s;
   -webkit-transition: all linear 0.5s; }

#info-slider #info-slider-pagination {
	z-index: 10;
	margin: 0px auto 0px 2px;
	clear: both;
	width: 676px;
	height: 92px;
	overflow: hidden;
	position: relative; }

#info-slider #info-slider-pagination div.thumb-containers div.thumbs a.thumb-link {
	display: inline-block;
	height: 92px;
	margin: 0px 3px 0px;
	width: 147px;
	z-index: 800;
	display: -moz-inline-stack;
	vertical-align: top; }

#info-slider #info-slider-pagination div.thumb-containers div.thumbs a.thumb-link.first,
#info-slider #info-slider-pagination div.thumb-containers div.thumbs a.thumb-link:first-of-type { margin: 0px 3px 0px 25px; }	
#info-slider #info-slider-pagination div.thumb-containers div.thumbs a.thumb-link img {
	height: 92px;
	width: 147px;
	display: block;
	border: 0; }
	
main#info-description {
	width: 640px;
	float: left;
	overflow: auto;
	padding: 0px 40px 0px 0px;
	clear: left;
	margin: 0px 0px 0px 50px;
	min-height: 360px; }

main#info-description h2 {
	color: #a88459;
	font: 400 24px "proxima-nova", sans-serif;
	font-weight: 400px;
	line-height: 26px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px; }

main#info-description p {
	color: #000;
	font: 300 16px/23px "proxima-nova", sans-serif;
	margin: 0px 0px 8px 0px;
	font-weight: 300; }
	
#team_members li {
	padding: 1em 0;
	clear: both;
}

#team_members li:after {
	content: '';
	width: 100%;
	height: 0;
	display: block;
	clear: both;
}

#team_members img {
	float: left;
	margin-right: 1.5em;
}

main#info-description #team_members h2 {
	margin: 0.75em 0 0.25em 0;
}

/** Footer */

footer { 
	clear: both;
	height: 130px;
	padding: 0;
	margin: 0 auto;
	background: transparent url('/sites/all/themes/ascentbuild/images/footer-bg.png') repeat-x center bottom;
	width: 100%; }
	
footer .footer-container {
	height: 130px;
	margin: 0px auto;
	position: relative; }

footer #mba-footer-tag {
	display: block; 
	width: 113px; 
	height: 140px;
	float: left;
	position: absolute;
	bottom: 14px;
	background:transparent url('/sites/all/themes/ascentbuild/images/footer-tag.png') no-repeat center 0px; }

footer aside, footer address {
	float: left;
}

footer #footer-menu li {
	width: 95px;
	margin: 40px 10px;
	padding: 0px;
	float: left;
}

footer #footer-menu li:first-child {
	margin-left: 120px;
}

footer .footer-container #footer-menu ul li a {
	font: 600 11px "proxima-nova", sans-serif;
}

footer .footer-container aside {
	width: 95px;
	margin: 40px 10px;
	padding: 0px;
}

footer .footer-container aside#footer-menu-one { margin-left: 120px; }

footer .footer-container h2 {
	border-bottom: 1px solid #666b61;
	color: #fff;
	font: 600 11px "proxima-nova", sans-serif;
	line-height: 6px;
	margin: 0px;
	padding: 0px 0px 7px 0px;
}

footer .footer-container ul,
footer .footer-container ul.menu {
	border-top: 1px solid #adb2a8;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

footer .footer-container ul:first-child { padding-top: 7px; }

footer .footer-container ul li,
footer .footer-container ul.menu li,
footer .footer-container ul.menu li.expanded,
footer .footer-container ul.menu li.collapsed,
footer .footer-container ul.menu li.leaf {
	list-style-type: none;
	list-style-image: none;
}

footer .footer-container ul li, 
footer .footer-container ul li a, 
footer .footer-container ul li a:visited,
footer .footer-container ul li a.active, 
footer .footer-container ul li a:hover {
	color: #fff;
	font: 600 10px "proxima-nova", sans-serif;
	line-height: 13px;
	padding: 0px;
	margin: 0px; }
footer .footer-container ul li a:hover { color: #ADB2A8; }
footer .footer-container {
	margin: 0 auto;
	padding: 0px;
	width: 970px; }

footer .footer-container address {
	width: 190px;
	margin: 23px 0px 0px 0px;
	padding: 0px 15px 0px 0px;
	border-right: 1px solid #adb2a8; }

footer .footer-container address .footer-social-icons {
	float: right;
	text-align: right;
	margin: 0px 0px 7px 0px; }

footer .footer-container address a.facebook,
footer .footer-container address a.facebook:visited,
footer .footer-container address a.houzz {
	display: block;
	height: 31px;
	width: 31px;
	float: left;
	text-indent: -9999em;
	background: transparent url("/sites/all/themes/ascentbuild/images/social-icons-footer.png") no-repeat 0px 0px;	}

footer .footer-container address a.houzz {
	margin: 0px 0px 0px 6px;
	background-position: -32px 0px; }

footer .footer-container address p {
	width: 100%;
	clear: both;
	margin: 0px;
	color: #fff;
	font: 600 11px "proxima-nova", sans-serif;
	line-height: 17px;
	text-align: right; }
footer .footer-container address a.email,
footer .footer-container address a.email:visited {
	margin: 0px;
	padding: 0px;
	color: #d4b68c;
	font: 600 11px "proxima-nova", sans-serif;
	line-height: 17px;
	text-align: right; }	

footer .footer-container a.footer-logo {
	background: transparent url("/sites/all/themes/ascentbuild/images/footer-logo.png") no-repeat 15px center;
	border-left: 1px solid #666b60;
	display: block;
	float: left;
	height: 88px;
	width: 178px;
	margin: 23px 0px 0px 0px;
	padding: 0px 0px 0px 0px; }
